// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
    height: 100%;
    position: relative;
}

body {
    background-color: #0072C6; /* #772953 */
    transition: all 0.8s cubic-bezier(0.945, 0.020, 0.270, 0.665);
}

.main-container {
    min-height: 100vh;
    /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 40px;
    /* height of your footer */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    background-image: url('../../public/img/backB.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-info:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #138496;
    border-color: #138496;
}

.form-signin {
    width: 100%;
    max-width: 1000px;
    padding: 30px 30px 0px 30px;
    margin: auto;
    background: rgba(0, 0, 0, 0.3);
    color: whitesmoke;
}

#logoSchool {
    border-radius: 50%;border: 5px solid #F1C40F;
    width: 250px;
}

#formRow {
    padding: 15px;
}

h1 {
    font-size: 2.5em;
    font-weight: 300;
    line-height: 1.2;
}

p.lead {
    text-align: justify;
    text-justify: inter-word;
}

hr {
    background-color: whitesmoke;
    height: 0.1px;
}

form {
    border-left: 1px solid whitesmoke;
}

.form-check {
    padding-left: 0rem;
}

.btn-link {
    font-weight: 400;
    color: white;
    text-decoration: none;
    padding-right: 0px;
}

.btn-link:hover {
    color: white;
    text-decoration: underline;
}

footer {
    background: rgba(0, 0, 0, 0.4);
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    position: absolute;
}

#labelRemember.form-check-label {
    padding-left: 10px;
}

#tipoUsuario.form-check-label {
    padding-right: 10px;
}

/* Media queries */

@media only screen and (max-device-width: 480px) and (orientation:portrait) {
    
    
    .main-container {
        
        background-image: url('../../public/img/backB.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    
    #logoSchool {
        border-radius: 50%;border: 5px solid #F1C40F;
        width: 200px;
        margin-top: 15px;
        margin-bottom: 0px;
    }

    #userForm{
        background-color: rgba(0, 0, 0, 0.3);
        color: white;
        width: 100vw;
        margin-left: calc(-50vw + 50%);
        padding: 15px;
    }

    footer{
        height: 40px;
    }
    
    .jumbotron {
        color: white;
        margin-bottom: 0;
    }
    #formRow {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .mb-4, .my-4 {
        margin-bottom: 0rem!important;
    }
    .form-signin {
        background: none;
        margin: 0px;
    }
    form {
        border-left: none;
        margin-top: 20px;
    }
    h1 {
        font-size: 2.3em;
        font-weight: 400;
        line-height: 1.2;
        text-align: center;
    }

    h3 {
        font-size: 1.2em;
        font-weight: 300;
        line-height: 1.2;
        text-align: center;
    }
    
    .h2, h2 {
        font-size: 1.8em;
    }
    p.lead {
        font-size: 1.0em;
        text-align: justify;
        text-justify: inter-word;
        line-height: 1.2;
    }
    #logoS {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 120px;
        /*border-bottom: 1px solid whitesmoke;*/
    }
}

@media only screen and (max-width: 767.98px) and (orientation:landscape) {
    .form-signin {
        background: none;
        margin: 0px;
    }
    form {
        border-left: none;
    }
    h1, h3 {
        font-size: 1.8em;
        font-weight: 300;
        line-height: 1.2;
        text-align: center;
    }
    p.lead {
        font-size: 1.0em;
        text-align: justify;
        text-justify: inter-word;
        line-height: 1.2;
    }
    #logoS {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 120px;
    }
}