// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    font-family: "Lato", sans-serif;
  }

  ul{
    padding-inline-start: 15px;
    list-style-type: none;  
  }

  .sidenav li{
      margin-bottom: 10px;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #363636;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 20px;
    color: #BCBCBC;
    display: block;
    transition: 0.3s;
  }
  
  .menuO{
    border-left-style: solid;
    border-color: #818181;
    
  }

  .menuO:hover{
    border-left-style: solid;
    border-width: 10px;
    border-color: #f1f1f1;
  }
  .sidenav a:hover {
    color: #f1f1f1;
    
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    
  }

  #content span{
    font-size:20px;
    cursor:pointer;
    margin-bottom: 10px;
  }

  #content {
    transition: margin-left .5s;
    padding: 16px;
  }

  /* Media queries */

@media only screen and (max-device-width: 480px) and (orientation:portrait) {
    
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .sidenav .closebtn {
        right: 5px;
        
    }
    #content span{
      font-size: 18px;
      margin-bottom: 10px;
    }


    

}
